
<div class="map_div">
  <app-tile *ngFor="let k of tileKeys()" [id]="k" [tile]="tiles[k]"></app-tile>
  <a  href="https://reddit.com/r/ForHonorKnights" title="Deus Vult"><img id="kn_logo" src="../../assets/images/kn_logo.png"></a>
  <a href="https://www.reddit.com/r/ForHonorVikings/"><img id="vk_logo" src="../../assets/images/vk_logo.png" ></a>
  <a href="https://www.reddit.com/r/ForHonorSamurai/"><img id="sm_logo" src="../../assets/images/sm_logo.png" ></a>


  <!--<img src="../../assets/map.png">-->
</div>