@media (min-width: 1200px) {
	.map_div{
		display: block;
		width: 900px;
		height: 700px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#kn_logo{
		display: block;
		margin-top: 475px;
		margin-left: 113px;
		height: 75px;

	}
	#vk_logo{
		display: block;
		margin-top: 55px;
		margin-left: 408px;
		height: 75px;
	}
	#sm_logo{
		display: block;
		margin-top: 495px;
		margin-left: 741px;
		height: 75px;
	}
}
@media (max-width: 1200px) {
	.map_div {
		display: block;
		width: 500px;
		height: 500px;
		margin-top: -85px;
		
		border-radius: 100px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		
	}
	#kn_logo{
		display: block;
		margin-top: 367px;
		margin-left: 35px;
		height: 50px;

	}
	#vk_logo{
		display: block;
		margin-top: 97px;
		margin-left: 231px;
		height: 50px;
	}
	#sm_logo{
		display: block;
		margin-top: 374px;
		margin-left: 437px;
		height: 50px;
	}
}
img{
	position: absolute;
	display: block;
}

.right_box{
	background-color: lightgray;
	border-radius: 0px 0px 0px 10px;
	position: absolute;
	right: 15px;
	width: 250px;
	height: 690px;
}

.mg-10{
	margin: 10px;
}

