.map_div{
	display: block;
	position: relative;
	background-color: black;
}
@media (min-width: 1200px){
	.map_div{
		display: block;
		position: relative;
		background-color: black;
		padding-left: 118px;
	}
}
img{
	position: absolute;
	display: block;
}

.right_box{
	background-color: lightgray;
	border-radius: 0px 0px 0px 10px;
	position: absolute;
	right: 15px;
	width: 250px;
	height: 690px;
}

.mg-10{
	margin: 10px;
}
