img {
  position: absolute;
}

.tile{
  padding-left: 118px;
}


.vk {
  -webkit-filter: hue-rotate(90deg) invert(75%) brightness(95%);
  filter: hue-rotate(90deg) invert(75%) brightness(95%) ;
}
.kn {
  -webkit-filter: hue-rotate(0deg) grayscale(50%);
  filter: hue-rotate(0deg) grayscale(50%);
}

.sm {
  -webkit-filter: hue-rotate(120deg) brightness(90%) grayscale(50%);
  filter: hue-rotate(120deg) brightness(90%) grayscale(50%);
}

.vk-frontline {
  -webkit-filter: hue-rotate(90deg) invert(100%) brightness(75%);
  filter: hue-rotate(90deg) invert(100%) brightness(75%);
}
.kn-frontline {
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}

.sm-frontline {
  -webkit-filter: hue-rotate(120deg) brightness(90%);
  filter: hue-rotate(120deg) brightness(90%);
}


.vk-isolated {
  -webkit-filter: hue-rotate(90deg) invert(100%) brightness(75%) opacity(30%);
  filter: hue-rotate(90deg) invert(100%) brightness(75%) opacity(30%);
}
.kn-isolated {
  -webkit-filter: hue-rotate(0deg) opacity(30%);
  filter: hue-rotate(0deg) opacity(30%);
}

.sm-isolated {
  -webkit-filter: hue-rotate(120deg) brightness(90%) opacity(30%);
  filter: hue-rotate(120deg) brightness(90%) opacity(30%);
}
@media (min-width: 1200px){
  .large img{
    display:block;
  }
  .small img{
    display: none;
  }
}

@media (max-width: 1200px){
  .large img{
    display: none;
  }
  .small img{
    display: block;
  }
}