<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Current Turn</a>
    <div class="navbar-form navbar-left">
      <div class="form-group">
        <input type="number" placeholder="season" [(ngModel)]="season">
        <input type="number" placeholder="round"[(ngModel)]="round">
        <input type="number" placeholder="turn"[(ngModel)]="turn">
        <button type="submit"(click)="goToTurn(season, round, turn)"  >Go To Turn</button>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="col-sm-12">
    <ng-content></ng-content>
    <footer class="footer">
      <div class="container">
        <p>Created by the5ixth</p>
        <p>Made with Angular2(<a href="https://github.com/the5ixth/map">Code</a>)</p>
      </div>
    </footer>
  </div>
</div>
