img{
	display: block;
}
`
body{
	background-color: gray;
}

#loading{
	display: block;
	width: 100%;
	height: auto;
}
#map_div{
	display: block;
}
#t1 {
	margin-top: 178px;
	margin-left: 50px;
}
#t2{
	margin-top: 314px;
	margin-left: 55px;
}
#t3{
	margin-top: 363px;
	margin-left: 64px;
}
#t4{
	margin-top: 405px;
	margin-left: 78px;
}
#t5{
	margin-top: 461px;
	margin-left: 99px;
}
#t6{
	margin-top: 539px;
	margin-left: 143px;
}
#t7{
	margin-top: 548px;
	margin-left: 210px;
}
#t8{
	margin-top: 576px;
	margin-left: 268px;
}
#t9{
	margin-top: 608px;
	margin-left: 363px
}
#t10{
	margin-top: 306px;
	margin-left: 171px;
}
#t11{
	margin-top: 380px;
	margin-left: 193px;
}
#t12{
	margin-top: 413px;
	margin-left: 255px;
}
#t13{
	margin-top: 445px;
	margin-left: 184px;
}
#t14{
	margin-top: 465px;
	margin-left: 219px;
}
#t15{
	margin-top: 474px;
	margin-left: 284px;
}
#t16{
	margin-top: 246px;
	margin-left: 162px;
}
#t17{
	margin-top: 303px;
	margin-left: 231px;
}
#t18{
	margin-top: 396px;
	margin-left: 300px;
}
#t19{
	margin-top: 459px;
	margin-left: 314px;
}
#t20{
	margin-top: 558px;
	margin-left: 367px;
}
#t21{
	margin-top: 618px;
	margin-left: 446px;
}
#t22{
	margin-top: 592px;
	margin-left: 539px;
}
#t23{
	margin-top: 572px;
	margin-left: 621px;
}
#t24{
	margin-top: 542px;
	margin-left: 660px;
}
#t25{
	margin-top: 475px;
	margin-left: 725px;
}
#t26{
	margin-top: 413px;
	margin-left: 750px;
}
#t27{
	margin-top: 364px;
	margin-left: 740px;
}
#t28{
	margin-top: 319px;
	margin-left: 723px;
}
#t29{
	margin-top: 242px;
	margin-left: 700px;
}
#t30{
	margin-top: 498px;
	margin-left: 534px;
}
#t31{
	margin-top: 500px;
	margin-left: 601px;
}
#t32{
	margin-top: 450px;
	margin-left: 551px;
}
#t33{
	margin-top: 450px;
	margin-left: 652px;
}
#t34{
	margin-top: 416px;
	margin-left: 630px;
}
#t35{
	margin-top: 363px;
	margin-left: 567px;
}
#t36{
	margin-top: 541px;
	margin-left: 433px;
}
#t37{
	margin-top: 482px;
	margin-left: 431px;
}
#t38{
	margin-top: 380px;
	margin-left: 436px;
}
#t39{
	margin-top: 328px;
	margin-left: 503px;
}
#t40{
	margin-top: 290px;
	margin-left: 595px;
}
#t41 {
    margin-top: 148px;
    margin-left: 600px;	
}
#t42 {
    margin-top: 121px;
    margin-left: 542px;
}
#t43 {
    margin-top: 91px;
    margin-left: 531px;
}
#t44 {
    margin-top: 62px;
    margin-left: 484px;
}
#t45 {
    margin-top: 49px;
    margin-left: 391px;
}
#t46 {
    margin-top: 50px;
    margin-left: 333px;
}
#t47 {
    margin-top: 67px;
    margin-left: 225px;
}
#t48 {
    margin-top: 99px;
    margin-left: 182px;
}
#t49 {
    margin-top: 117px;
    margin-left: 88px;
}
#t50 {
    margin-top: 191px;
    margin-left: 440px;
}
#t51 {
    margin-top: 158px;
    margin-left: 404px;
}
#t52 {
    margin-top: 208px;
    margin-left: 360px;
}
#t53 {
    margin-top: 113px;
    margin-left: 380px;
}
#t54 {
    margin-top: 159px;
    margin-left: 302px;
}
#t55 {
    margin-top: 181px;
    margin-left: 257px;
}
#t56 {
    margin-top: 220px;
    margin-left: 577px;
}
#t57 {
    margin-top: 251px;
    margin-left: 462px;
}
#t58 {
    margin-top: 282px;
    margin-left: 321px;
}
#t59 {
    margin-top: 289px;
    margin-left: 262px;
}
#t60 {
    margin-top: 200px;
    margin-left: 185px;
}

#x1 {
    margin-top: 251px;
    margin-left: 98px;
    height: 30px;
}
#x2{
	margin-top: 326px;
	margin-left: 102px;
	height:30px;
}
#x3{
	margin-top: 371px;
	margin-left: 103px;
	height: 30px;
}
#x4{
	margin-top: 421px;
	margin-left: 107px;
	height: 30px;
}
#x5{
	margin-top: 490px;
	margin-left: 122px;
}
#x6{
	margin-top: 562px;
	margin-left: 172px;
	height: 30px;
}
#x7{
	margin-top: 580px;
	margin-left: 236px;
	height: 30px;
}
#x8{
	margin-top: 618px;
	margin-left: 308px;
	height: 30px;
}
#x9{
    margin-top: 627px;
    margin-left: 392px;
    height: 30px;
}
#x10{
	margin-top: 352px;
	margin-left: 213px;
	height: 30px;
}
#x11{
	margin-top: 426px;
	margin-left: 210px;
	height: 30px;
}
#x12{
	margin-top: 426px;
	margin-left: 270px;
	height: 30px;
}
#x13{
	margin-top: 488px;
	margin-left: 196px;
	height: 30px;
}
#x14{
	margin-top: 508px;
	margin-left: 248px;
	height:30px;
}
#x15{
	margin-top: 543px;
	margin-left: 308px;
	height: 30px;
}
#x16{
	margin-top: 268px;
	margin-left: 186px;
	height: 30px;
}
#x17{
	margin-top: 325px;
	margin-left: 251px;
	height: 30px;
}
#x18{
	margin-top: 412px;
	margin-left: 360px;
	height: 30px
}
#x19{
	margin-top: 493px;
	margin-left: 359px;
	height: 30px;
}
#x20{
	margin-top: 573px;
	margin-left: 387px;
	height: 30px;
}
#x21{
	margin-top: 641px;
	margin-left: 485px;
	height: 30px;
}
#x22{
	margin-top: 628px;
	margin-left: 578px;
	height: 30px;
}
#x23{
    margin-top: 614px;
    margin-left: 641px;
    height: 30px;
}
#x24{
	margin-top: 574px;
	margin-left: 685px;
	height: 30px;
}
#x25{
	margin-top: 510px;
	margin-left: 749px;
}
#x26{
	margin-top: 432px;
	margin-left: 781px;
	height: 30px;
}
#x27{
	margin-top: 388px;
	margin-left: 765px;
	height: 30px;
}
#x28{
	margin-top: 348px;
	margin-left: 756px;
	height: 30px;
}
#x29{
    margin-top: 288px;
    margin-left: 733px;
    height: 30px;
}
#x30{
	margin-top: 552px;
	margin-left: 562px;
	height: 30px;
}
#x31{
	margin-top: 532px;
	margin-left: 615px;
	height: 30px;
}
#x32{
	margin-top: 464px;
	margin-left: 580px;
	height: 30px;
}
#x33{
	margin-top: 495px;
	margin-left: 692px;
	height: 30px;
}
#x34{
    margin-top: 449px;
    margin-left: 671px;
    height: 30px;
}
#x35{
	margin-top: 398px;
    margin-left: 645px;
    height: 30px;
}
#x36{
    margin-top: 566px;
    margin-left: 483px;
    height: 30px;
}
#x37{
    margin-top: 501px;
    margin-left: 468px;
    height: 30px;
}
#x38{
    margin-top: 432px;
    margin-left: 479px;
    height: 30px;
}
#x39{
    margin-top: 387px;
    margin-left: 545px;
    height: 30px;
}
#x40{
    margin-top: 326px;
    margin-left: 639px;
    height: 30px;
}
#x41 {
    margin-top: 204px;
    margin-left: 692px;
    height: 30px;
}
#x42 {
    margin-top: 164px;
    margin-left: 615px;
    height: 30px;
}
#x43 {
    margin-top: 129px;
    margin-left: 564px;
    height: 30px;
}
#x44 {
    margin-top: 86px;
    margin-left: 516px;
    height: 30px;
}
#x45 {
    margin-top: 69px;
    margin-left: 422px;
}
#x46 {
    margin-top: 81px;
    margin-left: 357px;
    height: 30px;
}
#x47 {
    margin-top: 110px;
    margin-left: 296px;
    height: 30px;
}
#x48 {
    margin-top: 142px;
    margin-left: 224px;
    height: 30px;
}
#x49 {
    margin-top: 167px;
    margin-left: 150px;
    height: 30px;
}
#x50 {
    margin-top: 219px;
    margin-left: 492px;
    height: 30px;
}
#x51 {
    margin-top: 175px;
    margin-left: 420px;
    height: 30px;
}
#x52 {
    margin-top: 244px;
    margin-left: 393px;
    height: 30px;
}
#x53 {
    margin-top: 134px;
    margin-left: 472px;
    height: 30px;
}
#x54 {
    margin-top: 191px;
    margin-left: 347px;
    height: 30px;
}
#x55 {
    margin-top: 250px;
    margin-left: 307px;
    height: 30px;
}
#x56 {
    margin-top: 254px;
    margin-left: 611px;
    height: 30px;
}
#x57 {
    margin-top: 303px;
    margin-left: 514px;
    height: 30px;
}
#x58 {
    margin-top: 333px;
    margin-left: 401px;
    height: 30px;
}
#x59 {
    margin-top: 317px;
    margin-left: 306px;
    height: 30px;
}
#x60 {
    margin-top: 233px;
    margin-left: 236px;
    height: 30px;
}
